* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  /* content-box ne legyen!
  a "margin" viszont mindig ezen kivul van, egyik esetben sem szamoljuk bele az elem mereteibe*/
  background: transparent;
  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important; /* safari, opera, chrome miatt */
  border-radius: 0;
}

/* css reset */

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #55dc91;
  background-image: radial-gradient(
    circle,
    rgba(129, 68, 0, 1) 0%,
    rgba(147, 51, 149, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  ); /* a gradient az background-image lesz */
}

section {
  min-height: 100vh;
}
/*
@keyframes welcomeAnime {
  0% {
    background-color: #55dc91;
    transform: rotate(0) scale(1);
  }
  50% {
    background-color: #05386b;
    transform: rotate(180deg) scale(0.05) skew(60deg);
  }
  100% {
    background-color: #55dc91;
    transform: rotate(0) scale(1);
  }
} */

@keyframes magicAnime {
  0% {
    background-image: url("img/para-cat.gif");
    background-size: 80vh;
    background-position-x: 0;
    opacity: 0.1;
    transform: rotate(0) scale(1);
  }
  50% {
    background-image: url("img/para-cat.gif");
    background-size: 80vh;
    background-position-x: 0;
    opacity: 0.5;
    transform: rotate(180deg) scale(0.1);
  }
  100% {
    background-image: url("img/para-cat.gif");
    background-size: 80vh;
    background-position-x: 0;
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}
/*
.welcome {
  position: relative;
  width: calc(100vh - 160px);
  height: calc(100vh - 160px);
  min-height: unset;
  margin: 80px auto;

  background-color: #55dc91;
  box-shadow: 0 0 20px #05386b;

  border-radius: 2%;

  animation-name: welcomeAnime;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;

  transition: border-radius 400ms;
} */

.button-outside {
  position: fixed;
  top: 20%;
  left: 10%;
  width: 200px;
  height: 200px;

  border: 4px solid #339583;
  border-radius: 50%; /* totalis kor */
  background-color: #05386b;

  transform: translate(-50%, -50%);

  font-weight: 800;
  text-transform: uppercase;
  color: #55dc91;

  opacity: 0.2;

  transition: transform 400ms, opacity 400ms; /* az animalt elem eredeti allapotara */
}

.button-outside:hover {
  /* transform: matrix(1.2, 0, 0, 1.2, -100, -100); */
  background-image: url("img/uni1-1.jpg");
  color: #05386b;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2) rotate(360deg);
}

.button-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;

  border: 4px solid #339583;
  border-radius: 50%; /* totalis kor */
  background-color: #05386b;

  transform: translate(-50%, -50%);

  font-weight: 800;
  text-transform: uppercase;
  color: #55dc91;

  opacity: 0.2;

  transition: transform 400ms, opacity 400ms; /* az animalt elem eredeti allapotara */
}

.button-inside:hover {
  /* transform: matrix(1.2, 0, 0, 1.2, -100, -100); */
  background-image: url("img/uni1-1.jpg");
  color: #05386b;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2) rotate(360deg);
}

.magic-section {
  position: relative;
  width: calc(100vh - 160px);
  height: calc(100vh - 160px);
  min-height: unset; /* what?? */
  margin: 80px auto;

  background-color: #55dc91;
  box-shadow: 0 0 20px #05386b;

  border-radius: 50%;

  animation-name: magicAnime;
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  transition: border-radius 400ms;
}

#hashLink {
  display: none;
}

#hashLink:target {
  display: block;
}
